:root {
  --highlight: #141926;
  --primary: #129fc0;
  --off-white: #f6f6f6;
  --sans: "Montserrat", sans-serif;
  --border-radius: 5px;
  --shadow: 0 2px 15px 0 rgb(0 0 0 / 9%);
}

.header {
  width: 100vw;
  height: 150px;
  background-color:#AA9681;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 252px;
}

.drag-image{ 
  width: 252px;
 }

.image{
  width: 452px;
}


.container {
  display: flex;
  justify-content: center;
  padding-top: 42px;
}

.content {
  border-radius: 3px;
  box-shadow: var(--shadow);
  width: 1200px;
  padding: 21px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 42px;
  margin-bottom: 42px;
  background-color: var(--off-white);
}

.list-container {
  display: grid;
  grid-template-columns: 1fr;
}
.list-container__item {
  display: grid;
  grid-template-columns: 100px 252px 300px 150px 100px;
  gap: 20px;
  align-items: center;
}
.handle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag-title{
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-container__item{
  display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    align-items: center;
    padding: 5px;
    text-align: center;
}
.title{
  font-weight: bold;
}

.layout-filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}

.layout-filter--default {
  max-width: 100vw;
  font-size: 1.5rem;
  margin-left: 15px;
  color: var(--highlight);
}

.layout-filter--active{
  color: var(--primary);
}
